@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --font-main-color: #02310A;
    --header-color: #4F833A;
    --footer-color:#F5C48E;
}
/* Set main colors as variables to reference throughout. Although set and not intended to change, easier to recall */

*{
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box; 
    /* Includes elements padding and borders in the width and height */
}


/*Body text*/

p,a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.2rem); 
    /* Dynamic font for responsivity */
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--font-main-color);
}

/*Heading styles*/

h1, h2, h3, h4{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    color: var(--font-main-color);
    text-transform: uppercase;
    margin-bottom: 1rem;

}

h1{
    font-size: clamp(2.5rem, 5vw, 4rem);
}

h2{
    font-size: clamp(2rem, 5vw, 3.5rem);
}

h3{
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h4{
    font-size: clamp(1.5rem, 3vw, 2rem);
}

/* ^ Responsive typography for headings */

/* HEADER STYLING */

/* NOTE: Header Breakpoint 827 */
header{
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;            
    padding: 1rem 4rem;
}

ul a{
    color: white;
    text-decoration: none;
    padding: 10px;  
    border-radius: 10px;

}

ul a:hover{
    color: var(--header-color);
    background-color: white;
    transition: 0.5s; 
}

.logo {
    color: white;
    text-decoration: none;
    font-family: 'Hammersmith One', sans-serif;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 400;
    margin-bottom: 0;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* Responsive hamburger icon sourced from: https://www.youtube.com/watch?v=flItyHiDm7E&ab_channel=Coding2GO */
/* Added comments to explain */

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

@media screen and (max-width: 828px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: var(--header-color);
        width: 100%;
        z-index: 1000;
    }

    .nav-item{
        margin: 1rem;
    }

    .nav-menu.active{
        top: 8%;
        left: 0;

    }
    /* Modified initial code to slide in from the top instead of the left, added JS from chatgpt to hide when user scrolls down to hide this */

}

/* FOOTER STYLING */

footer{
    background-color: var(--footer-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;            
    padding: 0.2rem 4rem;
}

.footerc{
    width: 50%;
}

footer ul a{
    color: var(--font-main-color);
    text-decoration: none;
    padding: 10px;  
    border-radius: 10px;

}

footer ul a:hover{
    text-decoration: underline;
    color: var(--font-main-color);
    background-color: var(--footer-color);
}

footer .logo {
    color: var(--font-main-color);
}

/* Collapses footer */
@media screen and (max-width:850px){
    footer{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1rem;
    }

    .footerc{
        width: 80%;
    }

    footer nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
    footer ul a{
        padding: 0;
    }
}

/* Main */

.hero-content{
    background-image: url("/11056_A3/assets/images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
}

.content{
    width: 500px;
    padding-top: 20vh;
    padding-left: 4rem;
}

/* BUTTONS - change styling */
.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem;
    background-color: var(--header-color);
    border: none;
    border-radius: 25px;
    color: white;
    gap: 10px;
    text-decoration: none;
    width: 190px;
    position: relative;
    overflow: hidden;
    margin-top: 0.5rem;
}

.button img{
    transition: opacity 0.3s;
    position: absolute; /*<- did this so that the arrows are the same position*/
    right: 1vw;
    pointer-events: none;
}

.arrow-hover{
    opacity: 0;
}

.button:hover{
    background-color: white;
    color: var(--header-color);
    transition: 0.5s;
    outline: 2px solid var(--header-color)
}

.button:hover .arrow-default{
    opacity: 0;
}

.button:hover .arrow-hover{
    opacity: 1;
}
/* As there are two images, had to position them on top of each other and hide depending on state */

/* HOMEPAGE CONTENT */

.homepage-content{
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1.1fr 0.86fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    justify-items: stretch;
}

.column-left{
    grid-area: 1 / 1 / 3 / 3; 
    margin-right: 5rem;

}

/* Assigning grid areas for images */
#des{
    grid-row: 1/2;
    grid-column: 3/4;
    max-width: 100%;
    height: auto;
    display: block;
}

#cat{
    grid-row: 1/2;
    grid-column: 4/5;
    height: auto;
    max-width: 100%;
    display: block;
}

#di{
    grid-row: 2/3;
    grid-column: 3/5;
    max-width: 100%;
    height: auto;

}


/* RESPONSIVE GRID LAYOUT */
@media screen and (max-width: 892px){
    .homepage-content{
        grid-template-columns: 1.1fr 0.86fr;
        grid-template-rows:  auto auto auto;
    }
  .column-left {
    grid-area: 1 / 1 / 2 / 3;
  }

  #des {
    grid-area: 2 / 1 / 3 / 2;
  }

  #cat {
    grid-area: 2 / 2 / 3 / 3;
  }

  #di {
    grid-area: 3 / 1 / 5 / 3;
  }


}

/* REDUCING PADDING  */
@media screen and (max-width: 522px){
    header{
        padding: 1rem 1.5rem;
    }

    footer{
        padding: 0.2rem 1.5rem;
    }
    .content{
        padding-left: 1.5rem;
        width: 320px;
    }
    .homepage-content{
        margin: 2rem 1.5rem;

    }
    .button{
        width: 160px;
    }
}

/* BIOGRAPHY, LEGACY, AND CAMERON OFFICES PAGE STYLING */

.biography, .legacy, .cameron-offices{
    margin: 2rem 4rem;

}

.biography a, .cameron-offices a{
    color: var(--header-color)
}

.biography img, #banner, .cameron-offices img{
    padding-bottom: 2rem;
    max-width: 100%;
    height: auto;
    display: block;
}

.cameron-offices{
    margin-top: 4rem;
}

.cameron-offices img{
    width: 100%;
}

.container{ 
    display: flex;
    gap: 3rem;

}

.column{
    flex: 1;
}

/* FOR THE BIOGRAPHY IMAGES - CODE SOURCED FROM CHATGPT / initially 2 images were flex but switched to grid */

.image-container {
    gap: 1rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 827px){
    .container{
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 522px){
    .biography, .legacy, .cameron-offices{
        margin: 2rem 1.5rem;
    }

    .biography img, .legacy img{
        padding-bottom: 1rem;
    }

    .container{
        gap: 1rem
    }

    /* .column{
        flex: 1;
        display: flex;
        flex-direction: column;
    } */

    .image-container {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    #bank {
        transform: rotate(90deg);
        transform-origin: center center;
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin  */
        object-fit: contain;
        max-width: 100%;
        max-height: 50vh;
        width: auto;
        height: auto;
        margin: 0 auto;
        padding-bottom: 0;
    }

}

/* CAROUSEL - BASE CODE COURTESY OF:https://www.youtube.com/shorts/W2yJ_IbkAyI */
/* Modified styling and such */

.key-works-content{
    width: 80vw;
    margin: 1rem 4rem;
}

.carousel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    min-height: 70vh;
    align-items: center;
}

.carousel::-webkit-scrollbar{
    display: none;

}

.card{
    scroll-snap-align:start;
    outline: 1px solid var(--header-color); 
    /* ^ MDN Web docs  */
    height: 550px;
    width: 400px;
    padding: 1rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key-works{
    margin: 2.5rem 4rem;
}

.card a{
    text-decoration: none;
    margin-bottom: 0;
    line-height: 1;
}

.card:hover{
    text-decoration: underline;
    transform: translateY(-5vh);
    transition: 0.3s;
    outline: none;

}

.card h4{
    padding: 1rem;
}

.card img{
    max-width: 100%;
    height: auto;
    /* height: 50vh; */
    display: block;
    object-fit: cover;
}


/* REDUCING PADDING FOR KEYWORKS */

@media screen and (max-width: 827px){
    .card{
        height: 500px;
        width: 350px;
    }

    .carousel{
        min-height: 60vh;
    }
}

@media screen and (max-width: 522px){
    .key-works-content{
        margin: 1rem 1.5rem;
    }

    .key-works{
        margin: 2rem 1.5rem

    }

    .card{
        height:450px;
        width: 300px;
    }

    .carousel{
        min-height: 55vh;
    }
 
}